body{
    font-family: 'Poppins', sans-serif;
}
/* -------------------
    navbar start  
------------------- */
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-light .navbar-toggler {
    color: rgba(255,255,255,1);
    border-color: rgba(255,255,255,1);
}
.login{
    height: 44px;
    width: 91px;
    background-color:  #E76F51;    
    border: none;
    border-radius: 5px;
 
    
}
/* -------------------
    navbar end  
-------------------  */

/* ----------------------
    head-banner start
---------------------- */

.head-banner{    
    background-color: #264653;
}
.last-para{
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
color: #E0E0E0;
}
.head-banner h1{    
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 72px;
letter-spacing: 0px;
text-align: left;
}
 .btn-primary{
height: 44px;
width: 168px;
left: 156px;
top: 413px;
border-radius: 5px;
border: none;
padding: 10px;
background: #E76F51;
}
.btn-primary:hover {
    color: #fff;
    background-color: #E76F51;
    border: none; 
    box-shadow: none;
}
.btn-primary:focus {
    color: #fff;
    background-color: #E76F51;
    border: none; 
    box-shadow: none;
}
/* ----------------------
    head-banner end
---------------------- */

/* ----------------------
   featured bike start
---------------------- */
.ftr-bike{
    margin-bottom: 165px;
}
.ftr-bike h1{    
font-size: 48px;
font-weight: 600;
line-height: 72px;
letter-spacing: 0px;
text-align: left;
color: #000000;
}
.ftr-bike p{    
font-size: 14px;
font-weight: 600;
line-height: 21px;
letter-spacing: 0px;
text-align: left;
color: #E76F51;

}

/* ----------------------
   featured bike end
---------------------- */

/* ----------------------
  latest news start
---------------------- */
.latest-news h1, .happy-client h1{
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 72px;
letter-spacing: 0em;
text-align: center;
color: #0A0826;
}
.read-btn{
    color: white;
    background-color: #E76F51;
    height: 57px;
    width: 157px;
    border: none;
    border-radius: 5px;
}
.read-btn-blank{
    color: #E76F51;
   
    height: 57px;
    width: 157px;
    border:1px solid #E76F51;
    border-radius: 5px;
}
/* ----------------------
  latest news end
---------------------- */

/* ----------------------
 happy client start
---------------------- */
.happy-client span{
    font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 72px;
letter-spacing: 0em;
text-align: center;
color: #E76F51;
}
.fa-thin{
    color: #E76F51;
    background-color: #E76F51;
}